# Project files
gtnh-config-helper.toml
gtnh-config-helper-custom.toml


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

## Distribution / packaging
.Python
build/

# Environments
.env
.venv/

# PyCharm
.idea/

